html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
}

.calc {
    margin-top: 100px;
    width: 300px;
    /*height: 300px;*/
    padding: 20px 20px 50px;
    background-color: #f3e8e8;
}

.calc__top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.calc__middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calc__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#calc-btn {
    margin-bottom: 30px;
    padding: 10px;
}

#amount {
    padding-left: 5px;
    margin-left: 5px;
    text-align: center;
    position: relative;
}

#amount-label {
    position: relative;
}

#amount-label::before {
    position: absolute;
    content: attr(data-symbol);
    top: 0;
    left: -10px;
    /*color: #0f6674;*/
    font-weight: 600;
    font-size: 20px;
}


select, input {
    /*display: block;*/
    margin-bottom: 10px;
}
label {
}

#switch {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    background-image: url('img/swap.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

#switch:hover {
    transform: rotate(180deg);
}